// Global variables

// Colors

$brand-primary:     #21253f;
$brand-secondary:   #e1e4f0;
$brand-light:       #393d53;
$white:             #ffffff;

// Fonts

$font-awesome: 'FontAwesome';

// Borders

$border-radius: 20px;

//Buttons