// Global variables

// Colors

$brand-primary:     #21253f;
$brand-secondary:   #e1e4f0;
$brand-light:       #393d53;
$white:             #ffffff;
$brand-gray:        #747886;

// Fonts

$font-awesome: 'FontAwesome';
$font-family-base: 'Hind Madurai', sans-serif;

// Borders

$border-radius: 20px;

//Buttons