.container {
    background-color: $brand-primary;
    width: 1440px;
    height: 900px;
    border-radius: $border-radius;
}

.left_block {
    width: 420px;
    height: 600px;
    margin: 0px;
    float: left;
    padding: 115px 150px 185px;
    position: relative;
}

.projects_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.right_block {
    background-color: $white;
    width: 700px;
    height: 880px;
    float: left;
    margin: 10px;
    border-radius: $border-radius;
}