nav {
    font-family: $font-awesome;
    color: $white;
    background-color: $brand-light;
    padding: 15px;
    border-radius: 12px;
    width: fit-content;
    position: relative;
    left: -120px;
    top: -120px;
}
