nav {
    font-family: $font-awesome;
    color: $white;
    background-color: $brand-light;
    padding: 15px;
    border-radius: 12px;
    width: fit-content;
    position: absolute;
    left: 20px;
    top: 20px;
}